body {
    color:#ccc;
    font-size: 1em;
    line-height: 1;
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	background-color: #fff;
}

#instructions {
    color:#fff;
    text-align:center;
    width:100%;
    position: absolute;
    padding:4px 0;
}

canvas {
    display:block;
}

.btn {
    cursor: pointer;
    position: absolute;
}

.btn img {
    width: 50px;
}

.btn.inactive {
    filter: grayscale();
}

#toggleRain {
    top: 100px;
    left: 20px;
}

#toggleWind {
    top: 160px;
    left: 20px;
}